
/* Bebas Neue */
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('../fonts/bebasneueregular.woff2') format('woff2'), url('../fonts/bebasneueregular.woff') format('woff'), url('../fonts/bebasneueregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

 /* Inter */
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Regular.woff2') format('woff2'), url('../fonts/Inter-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Medium.woff2') format('woff2'), url('../fonts/Inter-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}


/* ----------------------------------   CSS   ---------------------------------- */


body {
    margin: 0;
}

.main__wrapper {
    font-family: 'Bebas Neue';
    background-color: #101010;
}

.container {
    margin: 0 64px;
}

.header__wrapp {
    color: #fff;
}

.top__header {
    justify-content: space-between;
    padding: 32px 0 16px;
}

@media screen and (max-width: 850px) {
    .top__header {
        display: none !important;
    }
}

.work__time {
    font-family: 'Inter';
    font-size: 18px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.phone__number {
    color: #D82626;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 19.8px */
    letter-spacing: 0.9px;
}

.title__span {
    color: #686868;
}

.top__header {
    display: flex;
}

.contact__links {
    display: flex;
    gap: 16px;
    align-items: center;
}


.link__wrapp {
    border-radius: 60px;
    border: 1px solid #1C1C1C;
}

.link__wrapp img {
    padding: 8px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.burger__menu {
    display: none;
}


@media screen and (max-width: 1150px) {
    .burger__menu {
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 60px;
        background-color:  #1C1C1C;
        position: relative;
    }


    .burger__menu::before,
    .burger__menu::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 50%;
        height: 3px;
        left: 25%;
    }

    .burger__menu::before {
        top: 18px;
    }

    .burger__menu::after {
        bottom: 18px;
    }

    .burger__menu span {
        position: absolute;
        background-color: #fff;
        left: 25%;
        width: 50%;
        height: 3px;
        top: 29px;
    }


    .burger__active .burger__off .search {
        display: none !important;
    }

    .burger__active .burger__off .catalog__wrapp {
        display: none !important;
    }
    .burger__active .burger__off .contacts__block {
        display: none !important;    
    }

    .top__burger {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .burger__active {
        flex-direction: column;
        justify-content: center;
    }

    .burger__active .menu__bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .burger__active .catalog__wrapp {
        width: 100%;
    }

    .burger__active .catalog {
        width: 100%;
    }

    .burger__active .catalog__title {
        list-style-type: none;
        background-color: #101010 !important;
        color: #fff;
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: space-between;
        border-radius: 0;
        width: 100%;
    }

    .burger__active > div {
        width: 100%;
    }

    .burger__active .catalog__list {
        position: relative !important;
    }


}


.menu__bar {
    display: flex;
    gap: 16px;
    align-items: center;
}

/* ****** CATALOG MENU BAR STYLES ****** */

.catalog {
    display: flex;
    flex-direction: column;
    position: relative;
}

.catalog__title {
    list-style-type: none;
    background-color: #D82626;
    color: #fff;
    display: flex;
    padding: 24px 32px;
    align-items: center;
    justify-content: space-between;
    border-radius: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 18px */
    font-size: 18px;
    width: 89px;
}

._active .catalog__title {
    background-color: #1C1C1C;
    border-radius: 32px 32px 0 0;
}

._active .catalog__list {
    display: block;
    position: absolute;
}

._fullscreen {
    width: 100%;
    height: 100%;
    background-color: #101010;
    opacity: 0.5;
}

.catalog__list {
    display: none;
    width: 256px;
}

.catalog__list a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 20px;
    padding: 16px;
    text-decoration: none;
    background: #1C1C1C;
    border: 1px solid #101010;
}
.catalog__list a:first-child {
    border-radius: 0px 32px 0 0;
}

.catalog__list a:last-child {
    border-radius: 0px 0 32px 32px;
}

.catalog__list a span {
    width: 158px;
}


/* ********* SEARCH STYLES ********* */

.search {
    width: 432px;
    height: 60px;
    border-radius: 60px;
    border: 1px solid #1C1C1C;
    display: flex;
    align-items: center;
}

.search form {
    padding-left: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 100%;
}

.search input {
    height: 100%;
    width: 80%;
    background-color: #101010;
    border: none;
    color: #fff;
    font-family: 'Bebas Neue';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 18px */
    letter-spacing: 0.9px;
}

.search input:focus {
    outline: none !important;
}

.search button {
    background-color: #101010;
    border: none;
}


.contacts__block a {
    font-family: 'Bebas Neue';
    font-size: 18px;
    color: #686868;
    text-decoration: none;
    padding: 24px 32px;
}


/* ****** PROFILE MENU BAR ****** */


.profile__bar {
    display: flex;
    gap: 16px;
    align-items: center;
}

.total__cost {
    color: #FFF;
    font-family: 'Bebas Neue';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 18px */
    letter-spacing: 0.9px;
}

@media screen and (max-width: 1202px) {
    .total__cost {
        display: none;
    }
}

.logo img {
    width: 101px;
    height: 80px;
}

.cart, .logout {
    border-radius: 60px;
    background: #1C1C1C;
}

.cart:hover, .logout:hover {
    background: #D82626;
}

.cart:hover .cart__count {
    background-color: #1C1C1C;
    
}

.cart img, .logout img {
    padding: 18px;
}

.cart {
    position: relative;
}

.cart .cart__count{
    position: absolute;
    right:-5px;
    top:-10px;
    width: 30px;
    height: 30px;
    border-radius: 80px;
    background: #D82626;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

